@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fonte-Roboto: "Roboto", sans-serif;
  --color-verde: rgb(3, 152, 158);
  --color-white: #fff;
  --bgd-color-primary: #272727;
  --bgd-color-secondary: #121212;
}

body {
  background-color: var(--bgd-color-primary);
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px;
  height: 30px;
}

ul {
  display: flex;
  gap: 1rem;
}

ul a {
  text-decoration: none;
  font-family: var(--fonte-Roboto);
  font-size: 1.8rem;
  list-style: none;
  transition: 0.7s;
  color: var(--color-white);
}

ul a:hover {
  color: var(--color-verde);
}

#start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  height: 400px;
}

.start-img img {
  height: 200px;
  border-radius: 50%;
}

.start-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.start-text h1 {
  font-family: var(--fonte-Roboto);
  color: var(--color-white);
  font-size: 3.5rem;
  font-weight: 900;
}

.start-text span {
  color: var(--color-verde);
}

.btn-cutticulo button {
  height: 40px;
  width: 100px;
  text-decoration: none;
  font-family: var(--fonte-Roboto);
  font-size: 1.5rem;
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.7s;
  background-color: var(--bgd-color-secondary);
}

.btn-cutticulo button:hover {
  color: var(--color-verde);
}

.about-text h1 {
  color: var(--color-white);
  font-family: var(--fonte-Roboto);
  font-size: 3.5rem;
  gap: 3rem;
}

#projects h1 {
  color: var(--color-white);
  font-family: var(--fonte-Roboto);
  font-size: 3.5rem;
}

.about-text p {
  color: var(--color-white);
  font-family: var(--fonte-Roboto);
  font-size: 1.8rem;
  margin-top: 3rem;
  line-height: 1.8;
}

.projects-content {
  display: flex;
  align-items: center;
  margin: 4rem 0;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

section,
footer {
  padding: 5rem;
  max-width: 96rem;
  margin: 0 auto;
}

.project-title {
  font-size: 3rem;
  color: var(--color-white);
  font-family: var(--fonte-Roboto);
}

.project-paragraph {
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: var(--fonte-Roboto);
  margin-top: 1rem;
}

.project-image {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  margin-right: 2.5rem;
  border-radius: 0.6rem;
  object-fit: cover;
}

.btn-project button {
  height: 40px;
  width: 120px;
  font-family: var(--fonte-Roboto);
  font-size: 1.5rem;
  color: var(--color-white);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.7s;
  background-color: var(--bgd-color-secondary);
}

.btn-project button:hover {
  color: var(--color-verde);
}

.btn-project a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-images img {
  height: 30px;
  padding: 0 10px;
  margin-bottom: 2rem;
}

.footer-text p {
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: var(--fonte-Roboto);
  margin-bottom: 2rem;
}

@media (max-width: 1150px) {
  section,
  footer {
    padding: 5rem;
  }
  .start-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-menu {
    justify-content: center;
    margin-bottom: 8rem;
  }
  #start {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}

@media (max-width: 650px) {
  .projects-content {
    display: block;
  }
  .project-paragraph {
    margin-bottom: 5rem;
  }
  .start-text h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .start-text h1 {
    font-size: 2rem;
  }
  .footer-text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  .start-text h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 330px) {
  .start-text h1 {
    font-size: 1.2rem;
  }
  .projects-item img {
    width: 270px;
  }
  .footer-text p {
    font-size: 1rem;
  }
}
